<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241096259075-f4habtpclfvpkhh29g6a92e11r00sv5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241096259075-f4habtpclfvpkhh29g6a92e11r00sv5l</string>
	<key>API_KEY</key>
	<string>AIzaSyB6YLnwa0T_LL40WrBQA91E3raaPat8mYM</string>
	<key>GCM_SENDER_ID</key>
	<string>241096259075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sayhi.matchup</string>
	<key>PROJECT_ID</key>
	<string>costar-6d867</string>
	<key>STORAGE_BUCKET</key>
	<string>costar-6d867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241096259075:ios:5c7c2c1cd013df6d894036</string>
</dict>
</plist>